
body{
    color: darkgreen;
    text-align: center;
    background-color: rgb(162, 216, 162);
}
div#entradas{
    background-color: rgb(96, 233, 96);
    color: white;
    height: 500px;
    width: 600px;
    text-align: initial;
    padding-top: 10px;
    padding-left: 10px;
    margin: auto;
    border-radius: 30px;
    font: normal 15pt arial;
}
#imagem{
    text-align: center;
    margin-top: -380px;
    color: white;
    font: normal 15pt arial;
}